$user-height: 35%;

.profil-frame {
	width: 100%;
	height: 100%;
}

$border-width: 2px;
.button-interface-actions-user	{
	height: 50px;
	flex-direction: row;
	color: white;
	font-family: 'Arcade';
	margin-top: 5px;
	margin-bottom: 10px;
	align-items: center;
	overflow: hidden;
	border-radius: 10px;

	.button-add-friend	{
		height: 70%;
		border-width: $border-width;
		border-color: green;
		opacity: 0.9;
		margin-right: 2%;
		width: 20%;
	}
	.button-remove-friend	{
		height: 70%;
		border-width: $border-width;
		border-color: orange;
		opacity: 0.9;
		margin-right: 2%;
		width: 20%;
	}
	.button-block-user	{
		height: 70%;
		border-width: $border-width;
		border-color: red;
		opacity: 0.9;
		margin-right: 2%;
		width: 20%;
	}
	.button-make-game	{
		height: 70%;
		border-width: $border-width;
		border-color: blue;
		opacity: 0.9;
		margin-right: 2%;
		width: 20%;
	}
}

.search-frame {
	height: 50px;
	border: 0px solid white;
	flex-direction: row;
	align-items: center;
	transition: all 1s;
	&:hover {
		border: 1.5px solid white;
		transform: scale(0.98);
	}
	.search-input-frame {
		border-width: 1px;
		height: 100%;
		font-size: 20px;
	}
	.button-search-frame {
		height: 100%;
		width: 250px;
		background-color: green;
	}
}

.user-profil-frame {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	height: $user-height;
	font-family: 'Arcade';
	.photo-frame {
		margin-left: 2vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 15%;
		.avatar-container-profil {
			width: 100%;
			img {
				width: 100%;
				height: auto;
				object-fit: cover;
			}
		}
		.container-avatar-change {
			color: white;
			border: 1px solid white;
			text-align: center;
			padding: 1vh;
			width: 100%;
			height: 100%;
			transition: all 0.3s;
			margin-top: 1vh;
			&:hover {
				border: 0;
				transform: scale(1.1)
			}
		}
	}
	.user-data-div-display {
		flex-grow: 1;
		height: 100%;
		display: flex;
		flex-direction: row;
		.display-2fa-option	{
			flex-grow: 1;
			display: flex;
			flex-direction: row;
			align-items: center;
			.switch-2fa	{
				width: 100%;
				color: white;
				.form-switch	{}
			}
			.text-2fa-option	{
				width: 70%;
				color: white;
			}
		}
		.user-profile-info {
			margin-top: 2vh;
			margin-left: 5vh;
			text-align: left;
			width: 80%;
			color: white;
		}
	}
}
.info-frame {
	height: calc( ( 100% - #{$user-height} ) / 2);
}

.profil-title-frame {
	border-width: 2px;
	height: 50px;
}

.text-profil-title {
	font-size: 28px;
}

//* ToggleButton *//
.form-switch {
	display: inline-block;
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
  }
  .form-switch i {
	position: relative;
	display: inline-block;
	margin-right: .5rem;
	width: 46px;
	height: 26px;
	background-color: #e6e6e6;
	border-radius: 23px;
	vertical-align: text-bottom;
	transition: all 0.3s linear;
  }
  .form-switch i::before {
	content: "";
	position: absolute;
	left: 0;
	width: 42px;
	height: 22px;
	background-color: #fff;
	border-radius: 11px;
	transform: translate3d(2px, 2px, 0) scale3d(1, 1, 1);
	transition: all 0.25s linear;
  }
  .form-switch i::after {
	content: "";
	position: absolute;
	left: 0;
	width: 22px;
	height: 22px;
	background-color: #fff;
	border-radius: 11px;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24);
	transform: translate3d(2px, 2px, 0);
	transition: all 0.2s ease-in-out;
  }
  .form-switch:active i::after {
	width: 28px;
	transform: translate3d(2px, 2px, 0);
  }
  .form-switch:active input:checked + i::after { transform: translate3d(16px, 2px, 0); }
  .form-switch input { display: none; }
  .form-switch input:checked + i { background-color: #4BD763; }
  .form-switch input:checked + i::before { transform: translate3d(18px, 2px, 0) scale3d(0, 0, 0); }
  .form-switch input:checked + i::after { transform: translate3d(22px, 2px, 0); }