$user-height: 25%;

.profil-frame {
	height: 100%;
}

$border-width: 2px;
.button-interface-actions-user	{
	height: 50px;
	flex-direction: row;
	color: white;
	font-family: 'Arcade';
	margin-top: 5px;
	margin-bottom: 10px;
	align-items: center;
	overflow: hidden;
	border-radius: 10px;

	.button-add-friend	{
		height: 70%;
		border-width: $border-width;
		border-color: green;
		opacity: 0.9;
		margin-right: 2%;
		width: 20%;
	}
	.button-remove-friend	{
		height: 70%;
		border-width: $border-width;
		border-color: orange;
		opacity: 0.9;
		margin-right: 2%;
		width: 20%;
	}
	.button-block-user	{
		height: 70%;
		border-width: $border-width;
		border-color: red;
		opacity: 0.9;
		margin-right: 2%;
		width: 20%;
	}
	.button-make-game	{
		height: 70%;
		border-width: $border-width;
		border-color: blue;
		opacity: 0.9;
		margin-right: 2%;
		width: 20%;
	}

}

.search-frame {
	height: 50px;
	border-color: white;
	flex-direction: row;
	align-items: center;

	.search-input-frame {
		border-width: 1px;
		height: 100%;
	}
	.button-search-frame {
		height: 100%;
		width: 250px;
		background-color: green;
	}
}

.user-profil-frame {
	flex-direction: row;
	height: $user-height;

	.twoFA-option-profile	{
		font-family: 'Arcade';
		color: white;
		background-color: black;
		font-size: 16px;
		border-width: 1px;
		border-color: white;
		text-align: center;
	}

	.photo-frame {
		width: 400px;
	}
	.user-data-frame {
		flex-grow: 1;
	}
}

.info-frame {
	height: calc( ( 100% - #{$user-height} ) / 2);
}

.history-frame {}

.profil-title-frame {
	border-width: 2px;
	height: 50px;
}

.text-profil-title {
	font-size: 28px;
}

.text-data-profil {
	// Style 
}
