
.login-frame {
	width: 100vw;
	height: 100vh;
}

.simple-pong-frame {
	height: 50%;
	margin-bottom: 25px;
	justify-content: end;
}

.access-frame {
	height: 50%;
	justify-content: start;
}

.text-logo {
	font-size: 48px;
}

.text-access {
	font-size: 32px;

	.color1 {
		color: black;
	}
}
