
	//align-items: flex-start;
.write-frame {
	background-color: #FFFFFF !important;
}

.send-frame {
	background-color: #EAEAEA !important;
}

.receive-frame {
	background-color: #FFF0BD !important;
}

.system-frame{
	background-color: #C3E2E1 !important;
}

.text-msg {
	font-family: 'Calibri';
	font-weight: normal;
	text-align: left;
	margin-left: 10px;
	.color1 {
		color: black;
	}
	.color2 {
		color: grey;
	}
}
