
.window-frame {
	display: flex;
	flex-direction: row;
	align-items: right;
	justify-content: left;
	margin-left: 0px;
}

.main-frame {
	flex: 1;
	box-sizing: border-box;
	align-items: left;
}

.delimiter-frame{
	position: relative;
	box-sizing: border-box;
	height: calc(90vh);
	padding-top: 100px;
	bottom: -38px;

}
