
.window-frame {
	flex-direction: row;
	overflow: auto;
}

.main-frame {
	position: relative;
	align-items: left;
}

.delimiter-frame{
	position: relative;
	padding-top: 100px;
	height: calc(92vh);
	align-items: right;
	bottom: -38px;
	overflow: auto;
	padding-top: 100px;

}
