
.window-frame {
	display: flex;
	flex-direction: row;
	overflow: visible;
	align-items: right;
	justify-content: left;
	margin-left: 0px;
}

.main-frame {
	flex-grow: 0.5;
	align-items: left;
	overflow: visible;
}

.delimiter-frame{
	position: relative;
	height: calc(90vh);
	padding-top: 100px;
	bottom: -38px;
	overflow: auto;

}
