$arena-height: 75%;

.pong-frame {
	height: 100%;
}

.arena-frame {
	height: $arena-height;
	border-width: 1px;
}

.PongGame {
	border-color: red; 
	overflow: hidden;
}

.score-frame {
	height: calc(100% - #{$arena-height});
	border-width: 1px;
	border-color: black;
}
