//local variables
$margin: 5px;

	//white-space: nowrap;
.side-frame {
	// Dimensions of the frame
	height: calc(100vh - 2 * #{$margin});
	// Position of the frame
	// Position of the content
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.logo-frame {
	display: flex;
}

.text-logo {
	text-align: center;
	top: 0;
	bottom: 0;
	margin: auto;
}

.menu-frame {
	display: flex;
}

.text-side {
	text-align: center;
	top: 0;
	bottom: 0;
	margin: auto;
}
