
.solid-frame {
	background-color: white;

	border-style: solid;
	border-color: black;
	border-radius: 0px;
	border-width: 0px;

	box-sizing: border-box;
	height: 100%;
	width: 100%;
	overflow: auto;

	display: flex;
	flex-direction: column;
	justify-content: center;
}

// Define text style
.text-content {
	font-family: 'Arcade';
	font-size: 16px;
	text-align: center;

	.color1 {
		color: grey;
	}
	.color2 {
		color: black;
	}
	// white-space: nowrap;

	// Adjust font size based on screen size
	/*
	@media (min-width: 600px) { // for screens wider than 600px
		font-size: 32px;
	}
	*/
}
