//@import url('https://fonts.googleapis.com/css2?family=Iceberg&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Iceland&display=swap');

.solid-frame {
	// Defining position and alignment
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;

  // By default, assume SolidFrame is the main responsive frame
	position: relative;
	margin: 5px;
  width: calc(97vw - 10px);
	height: calc(98vh - 10px);
}

.text-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  font-family: 'Iceland';
	font-weight: bold;
  text-align: center;
  
  // Adjust font size based on screen size
  @media (min-width: 600px) { // for screens wider than 600px
    font-size: 48px;
  }

  @media (min-width: 900px) { // for screens wider than 900px
    font-size: 72px;
  }
}
