
.title-frame {
	// Dimensions in tsx file
	display: flex;
	justify-content: center;
	align-items: center;
}

.text-title {
	font-size: 18px;
	text-align: center;
	.color1 {
		color: black;
	}
	.color2 {
		color: grey;
	}
}
