
.chat-box {
	height: 100%;
	border-width: 0px;
	max-width: 75%;
}

.user-frame {
	height: 45%;

	.label-frame {
		height: 20%;
	}
	.text-label {
	}
	.input-frame {
		height: 15%;
		border-width: 1px;
	}
	.text-input {
		font-family: 'Arcade';
	}
	.button-frame {
		height: 100px;
		align-items: center;
	}
	.text-button {
		font-size: 20px;
	}
}

.error-message {
	height: 10%;
	border-width: 1px;
	margin-top: 2px;
	color: red; /* Couleur du texte */
	font-size: 14px; /* Taille de police */
	font-weight: bold; /* Gras */
	background-color: transparent; /* Couleur de fond */
	padding: 5px; /* Espacement interne pour créer une bordure autour du message */
	border: 1px solid red; /* Bordure autour du message */
	/* Autres propriétés CSS selon vos préférences */
}


.create-chan-frame {
	height: 40%;
	margin-top: 20px;

	.label-frame {
		height: 20%;
	}
	.text-label {
	}
	.input-frame {
		height: 15%;
		border-width: 1px;
	}
	.text-input {
		font-family: 'Arcade';
	}
	.button-frame {
		height: 100px;
		align-items: center;
	}
	.text-button {
		font-size: 20px;
	}
}

.messages-container {
	flex-grow: 1;
	border-width: 1px;
	justify-content: start;
}

.text-container {
	text-align: start;
}

.write-frame {

	.label-frame {
		height: 50px;
	}
	.text-label {
	}

	.input-frame {
		justify-content: start;
		border-width: 1px;
	}
	.text-input {
		text-align: start;
		align-items: start;
		justify-content: start;
	}
	.button-frame {
		height: 50px;
	}
	.text-button {
		font-size: 20px;
	}
}
