
.chat-box {
	height: 100%;
	border-width: 0px;
}

.user-frame {
	height: 45%;

	.label-frame {
		height: 10%;
		justify-content: end;
		margin-bottom: 1%;
	}
	.text-label {
	}
	.input-label-frame {
		height: 25%;
		border-width: 1px;
	}
	.text-input {
		font-family: 'Arcade';
	}
	.button-frame {
		justify-content: center;
		align-items: center;
	}
	.text-button {
		font-size: 20px;
	}
}

.create-chan-frame {
	height: 40%;
	margin-top: 20px;

	.label-frame {
		height: 10%;
		justify-content: end;
		margin-bottom: 1%;
	}
	.text-label {
	}
	.input-label-frame {
		height: 25%;
		border-width: 1px;
	}
	.text-input {
		font-family: 'Arcade';
	}
	.button-frame {
		justify-content: center;
		align-items: center;
	}
	.text-button {
		font-size: 20px;
	}
}



// for button

.input-msg-frame {
	margin-bottom: 1%;
	height: 200px;
	border-width: 1px;
}

.messages-container {
	border-width: 1px;
	border-color: red;
}

.message-input {
	border-width: 1px;
	border-color: blue;
}
